body {
  min-height: 100vh;
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  background-image: url("../../images/background.jpg");
  background-position: 24rem 0;
  background-attachment: fixed;
}

h1 {
  font-size: 5rem;
  margin: 3rem 4rem;
}

.line-long {
  height: 1px;
  background-color: #d2d2d2;
}
.line-short {
  height: 1px;
  background-color: #d2d2d2;
}

@media screen and (max-width: 1070px) {
  body {
    background-size: 1280px 720px;
  }
}
