/* About me */
.about-me .h1-flex {
	display: flex;
}
.about-me h1 {
	display: flex;
	color: #d2d2d2;
	margin: 0rem 3rem;
	padding-top: 3rem;
	margin-bottom: 0rem;
	flex-direction: column;
	align-items: center;
}
.about-me {
	width: 70%;
	margin: auto;
	background-color: #222227;
	box-shadow: 12px -12px 15px -4px #000000d7, -12px -12px 8px -4px #000000d7;
}

.about-me .line-long {
	position: relative;
	transform: translateY(-0.5rem);
	width: 75%;
	margin: 0;
}

.about-me .line-short {
	position: relative;
	width: 21%;
	margin: 1% 0 0 40%;
}

.about-me .text-area {
	display: flex;
	background-color: #c6c6c6;
	width: 62%;
	height: 30vh;
	margin: 2rem 0 1rem auto;
	padding: 3rem 3rem 3rem 6rem;
	right: 0;
	border-radius: 25px 0 0 25px;
}

.about-me .text-area article {
	text-align: justify;
	font-weight: bold;
	font-size: 1.33rem;
	flex: 1 1 auto;
	justify-self: center;
	align-self: center;
	margin-right: 0;
}
.about-me .decoration {
	display: block;
	width: 40%;
	height: 4vh;
	margin-left: auto;
	margin-right: 0;
	background-color: #878787;
	border-radius: 11px 0 0 11px;
}

/* Responsive area */
@media screen and (max-width: 1170px) {
	.about-me {
		width: 90%;
		margin: auto;
	}
	.about-me .text-area {
		padding: calc(3rem / 1.2) calc(3rem / 1.4) calc(3rem / 1.2) calc(6rem / 1.4);
	}

	.about-me h1 {
		font-size: calc(5rem / 1.2);
	}
	.about-me .text-area article {
		font-size: calc(1.68rem / 1.6);
	}
}

@media screen and (max-width: 811px) {
	.about-me h1 {
		font-size: calc(5rem / 1.5);
	}
}
@media screen and (max-width: 611px) {
	.about-me .text-area {
		padding: calc(3rem / 1.2) calc(3rem / 1.8) calc(3rem / 1.2) calc(6rem / 1.8);
	}
	.about-me .text-area article {
		font-size: calc(1.38rem / 1.7);
	}
}

@media screen and (max-width: 500px) {
	.about-me h1 {
		font-size: calc(5rem / 2.1);
	}
	.about-me .text-area article {
		font-size: calc(1.68rem / 2.15);
	}
	.about-me .text-area {
		padding: calc(3rem / 1.2) calc(3rem / 1.9) calc(3rem / 1.2) calc(6rem / 2.1);
	}
}

/* Transitions */
.about-me h1 {
	transition: all 0.2s ease-in-out;
	cursor: default;
}
.about-me h1:hover {
	text-shadow: 5px 10px #000000;
	transform: translate(-0.1em, -0.1em);
}
.about-me .text-area {
	transition: all 0.2s ease-in-out;
}
.about-me .text-area:hover {
	transform: translate(0.1em, -0.1em);
	box-shadow: -6px 6px 10px 1px #000000;
}
