/* Navbar */
nav {
	font-family: "Nunito Sans", sans-serif;
	display: grid;
	grid-template-columns: 1fr 2fr 3fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"avatar nav-main-text nav-main-text"
		"avatar nav-main-text nav-main-text"
		"avatar nav-sub-text nav-panel";
	background-color: #b6b7bb;
	width: 100%;
	max-height: 15rem;
	margin: 0;
	padding: 0;
	box-shadow: 0rem 0rem 2rem 0.3rem #000;
	position: relative;
}

div#avatar {
	grid-area: avatar;
	justify-self: center;
	align-self: center;
	margin: 2rem 1rem;
}
div#nav-main-text {
	grid-area: nav-main-text;
	align-self: flex-end;
}
div#nav-sub-text {
	grid-area: nav-sub-text;
	align-self: flex-start;
}
div#nav-panel {
	grid-area: nav-panel;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	color: #222227;
	font-family: "Nunito Sans", sans-serif;
	font-weight: bold;
}

div#nav-panel a {
	text-decoration: none;
	color: #222227;
}
div#nav-panel h3 {
	margin-bottom: 0.3rem;
	align-self: center;
	padding: 0.3rem 0.5rem;
	margin-top: 0.3rem;
}

div#avatar img {
	max-height: 8rem;
	border-radius: 50%;
	border: solid 1px #222227;
}

nav h1 {
	color: #222227;
	font-size: 2.4rem;
	font-weight: bold;
	text-align: left;
	margin-bottom: 0.3rem;
}

nav h2 {
	grid-area: nav-sub-text;
	color: #707070;
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 0;
	padding-left: 4rem;
	margin-left: 2.5rem;
	transform: translateY(-0.5rem);
}

/* Responsive area */
@media screen and (max-width: 1070px) {
	nav {
		grid-template-columns: 1fr 2fr 3fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"avatar nav-main-text nav-main-text"
			"avatar nav-main-text nav-main-text"
			"avatar nav-sub-text nav-sub-text"
			"nav-panel nav-panel nav-panel";
		background-color: #c6c6c6;
		width: 100%;
		max-height: 15rem;
		margin: 0;
		padding: 0;
	}
}
@media screen and (max-width: 750px) {
	nav h1 {
		font-size: calc(2.4rem / 1.4);
	}
	nav h2 {
		font-size: calc(1.2rem / 1.4);
	}
	nav h3 {
		font-size: calc(1.17rem / 1.4);
	}
	div#avatar img {
		max-height: calc(8rem / 1.4);
	}
}

@media screen and (max-width: 595px) {
	nav h1 {
		font-size: calc(2.4rem / 1.8);
		margin-left: 0.6rem;
		margin-right: 0rem;
	}
	nav h2 {
		font-size: calc(1.2rem / 1.8);
		padding-left: 0.3rem;
	}
	nav h3 {
		font-size: calc(1.17rem / 1.6);
	}
	div#avatar img {
		max-height: calc(8rem / 2);
	}
}

@media screen and (max-width: 370px) {
	nav h1 {
		font-size: calc(2.4rem / 2.1);
		margin-left: 0.2rem;
		margin-right: 0rem;
	}
	nav h2 {
		font-size: calc(1.2rem / 2);
		padding-left: 0.3rem;
	}
	nav h3 {
		font-size: calc(1.17rem / 1.8);
	}
	div#avatar img {
		max-height: calc(8rem / 2);
	}
}

@media screen and (min-width: 2200px) {
	nav h1 {
		margin-left: 0.4rem;
	}
	nav h2 {
		padding-left: 0.2rem;
	}
	nav h3 {
		font-size: calc(1.17rem * 1.4);
	}
}

/* Transitions */
div#avatar img {
	transition: all 0.2s ease-in-out;
}
div#avatar img:hover {
	box-shadow: 0px 0px 20px -5px rgba(56, 56, 63, 1);
	transform: translateY(-3%);
}
div#nav-main-text {
	cursor: default;
	transition: all 0.2s ease-in-out;
}
div#nav-main-text:hover {
	transform: translateY(-4%);
}
div#nav-sub-text {
	cursor: default;
	transition: all 0.2s ease-in-out;
}
div#nav-sub-text:hover {
	transform: translateX(-4%);
}

div#nav-panel h3 {
	position: relative;
	cursor: pointer;
}

div#nav-panel h3:hover {
	transform: translateY(-5%);
	box-shadow: 0px 10px 20px -15px #a1a2a5;
	font-weight: bolder;
	opacity: 1;
}

div#nav-panel h3::before {
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	height: 0.25em;
	content: "";
	position: absolute;
	background-color: #222227;
}

.nav-link-ltr::before {
	width: 2.1em;
	opacity: 0.4;
	bottom: -0.15em;
}

.nav-link-ltr:hover::before {
	width: 93%;
	opacity: 1;
}
/* Animations */
